body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 96vh;
    background: url("../imgs/bg.jpg");
    background-size: cover;
    font-family: 'Secular One', sans-serif;
}

.box {
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.card {
    position: relative;
    height: 90%;
    width: inherit;
    background-color: black;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
    margin: 10px;
}

.card::before,
.card::after {
    content: "";
    top: -2px;
    left: -2px;
    position: absolute;
    background: linear-gradient(45deg,
            #ff0037,
            #ff00f2,
            #f84983,
            #fffb00,
            #9dff00,
            #fba300,
            #ff6600,
            #ff3c00,
            #3348ff,
            #ae00ff);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    border-radius: 15px;
    animation: border 20s linear infinite;
}

.card::after {
    filter: blur(30px);
}

.active {
    top: -120px;
    transform: scale(1.3);
}

@keyframes border {

    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }

}

.rotate-card {
    transform: rotateY(180deg);
}

.back {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    color: #ffff;
}

.front {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.front h3 {
    background-color: black;
    padding: 8px;
    color: #ffff;
    border-radius: 10px;
}

.front h3 span {
    padding: 2px 4px;
    background-color: #ff5733;
    border-radius: 6px;
    margin-left: 2px;
}

.back div {
    height: 100%;
    width: 100%;
    padding: 0px 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.back div img {
    object-fit: cover;
    object-position: right;
    width: 100%;
    height: 90%;
    border-radius: 15px;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    position: absolute;
    z-index: -1;
    height: 300px;
}

.social-card {
    margin-top: 4px;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background-color: black;
}

.social-card i {
    color: #ffff;
    font-size: 40px;
}

.social-card:nth-child(2) {
    border-top-right-radius: 70px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 60px;
}

.social-card:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 40px;
}